h1 {
  color:red;
  text-align: center;
  font-size: 150px;
}

label {
    font-size: 40;
    font-weight: bold;
    color: red;
}

input[type=text] {
    width: 70%;
    height: 40px;
}

input[type=button] {
    font-size: 35px;
    color: red;
}

#password {
    width: 70%;
    height: 40px;
}

#confirmPassword {
    width: 61.5%;
    height: 40px;
}


.infoContainer {
    text-align: center;
}

.background {
  background-image: url("CreateProfile.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
