h1 {
  color:red;
  text-align: center;
  font-size: 100px;
  font-family: Comic Sans MS;
  font-variant: small-caps;
}

body {
  background-color: lightgrey;
  vertical-align: center;
  
}  

label {
    font-weight: bold;
}

input[type=text] {
    width: 70%;
    height: 40px;
}

.background {
  background-image: url('');
  color: red;
  height: 100%;
  background-color: lightgrey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Comic Sans MS;
  font-variant: small-caps;
}
