h1 {
  text-align: center;
  color: black;
}

.background {
  background-color: black;
}

.card {
  background-color: transparent;
  font-family: "Blippo";
  font-weight: bold;
  text-align: justify;
  box-shadow: 0 20px 50px 0 rgba(0,0,2,4);
  width: 90%;
}

img {
  height: 350px;
  width: 500px;
  border-radius: 25px;
}
