html
    div(class="background")
        head
          title=Results 
          script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
          script(src="/displayResults/results.js")
          link(rel="stylesheet", href="/displayResults/results.css")
    body
        h1 Results
        br
        // input(type="text")#recipeName
        // br
                 