html
    div(class="background")
        head
            title=SearchPage
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
            script(src="/home/search.js")
            link(rel="stylesheet", href="/home/search.css")
        body
            h1 Leftovers
            div(class="searchContainer")
                label Enter the Ingredient you would like to include:
                br
                input(type="search", placeholder="Desired Ingredient")#searchBar
                input(type="submit", value="Search")#search
                br
            
        