html
    div(class="background")
        head
            title=signIn
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
            script(src="/signIn/signIn.js")
            link(rel="stylesheet", href="/signIn/signIn.css")
        body
            h1 Leftovers
            div(class="infoContainer")
                label Username: 
                input(type="text")#username
                br
                br
                label Password: 
                input(type="text")#password
                br
                input(type="button", value="Sign in as Guest")#guest
                input(type="button", value="Sign in With Profile")#profile
            input(type="button", value="Create Profile")#createProfile