html
    head
        title=signIn
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="/search.js")
        link(rel="stylesheet", href="/signIn/signIn.css")
    body
        h1 Leftovers
        input(type="text")#signIn
        br
        input(type="text")#username
        br
        input(type="text")#password

