// A blank recipe page that holds all elements but relies on the heroku server itself.
// Ideally, if the server is down, all tests for leftovers.js will fail.
html
    div(class="background")
        head
            title=Recipe 
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
            script(src="/displayRecipe/recipe.js")
            link(rel="stylesheet", href="/displayRecipe/recipe.css")
        body
            h1 TEST PAGE!!!!!!!!
            div(class="recipeInstructions")
                iframe(height="90%", width="100%", src="https://tsuleftoversfinal.herokuapp.com")
                input(type="button", value=" << Back")#back