h1 {
    text-align: center;
}

#searchBar {
    display: inline-block;
    width: 400px;
    height: 30px;
}

label {
    display: inline-block;
    clear: left;
    width: 250px;
    text-align: center;
}

#search {
    height: 30px;
}